.HotorCold {
  background-color: #1F253D;
  border-radius: 5px;
  height: 96%;
  margin: 0.8em auto;
  text-align: center;
  width: 98%;
}

.HotorColdTittle {
  color: #FFFFFF;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-weight: 900;
  font-size: 3em;
  padding: 0.8em;
}

.nav {
  background-color: #1F253D;
}
